<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>聊天室</title>
    <style>
        #warp{
            width:500px;
            margin:100px auto 0;
        }
    </style>
</head>
<body>
    <div id="warp">
        <form action="/checked" method="get">
            用户名：<input type="text" name="username" id="username">
            <input type="submit" value="进入聊天室">
        </form>
    </div>
</body>
</html>