<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<a href="/addbook">增加图书</a>
<table>
    <tr>
        <td>图书名</td>
        <td>作者</td>
        <td>价格</td>
    </tr>
    <%for(var i=0;i<books.length;i++){%>
        <tr>
            <td><%=books[i].name%></td>
            <td><%=books[i].author%></td>
            <td><%=books[i].price%></td>
            <td><a href="/updatebook?id=<%=books[i]._id%>">修改</a></td>
        </tr>
    <%}%>
</table>
</body>
</html>